body {
	font-family: 'LatoWeb', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

h1 {
	font-family: 'LatoWebThin', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-size: 40px;
	margin: 70px 0;
	font-style: normal;
}

h1 em {
	font-family: 'LatoWebBlack', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-style: normal;
	font-size: 50px;
	font-style: bold;
}

.container {
	text-align: center;
}

.main-line {
	font-size: 40px;
	margin: 0 0 90px;
}

.main-line-p,
.main-line .language-magic {
	display: inline;
}

.language-magic-wrap {
	background: #1d1f21;
	display: inline;
	color: #fff;
	display: inline;
	padding: 14px;
}

.language-javascript { color: #FFE599; }
.language-ruby { color: #F99D83; }
.language-php { color: #ABE0E5; }
.language-lisp { color: #E599FF; }



pre {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: none;
    border-radius: 4px;
}

.code {
	background: #1d1f21;
	padding: 30px 0;
	overflow: auto;
}

.code pre {
	width: 600px;
	margin: 0 auto;
	word-break: keep-all;
    word-wrap: normal;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.9s infinite;
    -moz-animation: blink 0.9s infinite;
    animation: blink 0.9s infinite;
}

h1 .typed-cursor {
	display: none;
}

@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@media (max-width:700px) {
	.main-line-p {
		display: block;
		margin-bottom: 20px;
	}
}